#magic-8-ball {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background-color: #bb639b;
}

#input-container,
#fortune-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input,
button,
h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
